# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# General things to ignore
build/
cmake-build-debug/
cmake-build-release/
docs/_build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*~

venv/
main.py
main.cpp
empty.cpp
*.log
tests/assets
