# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# General things to ignore
build/
out/
cmake-*/
docs/_build/
dist/
*.egg-info/
*.egg
*.so
*.py[cod]
__pycache__/
*~

wheelhouse/
main.py
/main.cpp
*.log

*/libglfw.a
*/glfw3.lib
