.idea/
*.log
PolygonTriangulation.fla
sound_test.py
test.py
triangulation_test.py
dist/
build/
goopylib.egg-info/
Documentation/YouTube/Music/
Documentation/YouTube/Adobe Premiere Pro Auto-Save/
Documentation/YouTube/Adobe Premiere Pro Captured Audio/
Documentation/YouTube/*/*.mp4
Documentation/YouTube/*/*.wav
Documentation/YouTube/*/*/*.mp4
Documentation/YouTube/*.prproj