[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable=
    trailing-whitespace,
    too-many-lines,
    pointless-string-statement,
    protected-access,
    too-many-public-methods,
    too-few-public-methods,
    too-many-branches,

[BASIC]
good-names=i,
           j,
           k,
           x,
           y,
           dx,
           dy,
           t,
           up,
           down,
           left,
           right,
           _
