include goopylib/math/*.pyd
include goopylib/math/*.c
include goopylib/math/*.h
include goopylib/math/*.so
include goopylib/objects/*.pyd
include goopylib/objects/*.c
include goopylib/objects/*.h
include goopylib/objects/*.so
include goopylib/*.pyd
include goopylib/*.c
include goopylib/*.h
include goopylib/*.so
include goopylib/sound/*.pyd
include goopylib/sound/*.c
include goopylib/sound/*.h
include goopylib/sound/*.so
include goopylib/physics/*.pyd
include goopylib/physics/*.c
include goopylib/physics/*.h
include goopylib/physics/*.so
include goopylib/applications/*.pyd
include goopylib/applications/*.c
include goopylib/applications/*.h
include goopylib/applications/*.so
