.autosummary tbody tr td:first-child p {
    font-weight: 700;
    color: #404040;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, Courier, monospace;
    font-size: 75% !important;
}

.autosummary tbody tr td:first-child p code {
    font-size: 100%;
}

a.reference.internal code {
    font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
    font-size: 100%;
}

a.reference.internal[href="#goopylib.core.Window"] + ul .toctree-l4 a.reference.internal,
a.reference.internal[href="#goopylib.scene.Camera"] + ul .toctree-l4 a.reference.internal,
a.reference.internal[href="#goopylib.objects.Renderable"] + ul .toctree-l4 a.reference.internal,
a.reference.internal[href="#goopylib.scene.CameraController"] + ul .toctree-l4 a.reference.internal {
    padding: 0 !important;
}

a.reference.internal[href="#goopylib.core.Window"] + ul .toctree-l4 a.reference.internal code,
a.reference.internal[href="#goopylib.scene.Camera"] + ul .toctree-l4 a.reference.internal code,
a.reference.internal[href="#goopylib.objects.Renderable"] + ul .toctree-l4 a.reference.internal code,
a.reference.internal[href="#goopylib.scene.CameraController"] + ul .toctree-l4 a.reference.internal code {
    display: none;
}

a.reference.internal[href="#goopylib.core.Window"] + ul .toctree-l4 a.reference.internal[href="#goopylib.core.Window.destroy"],
a.reference.internal[href="#goopylib.core.Window"] + ul .toctree-l4 a.reference.internal[href="#goopylib.core.Window.set_size_limits"],
a.reference.internal[href="#goopylib.core.Window"] + ul .toctree-l4 a.reference.internal[href="#goopylib.core.Window.restore"],
a.reference.internal[href="#goopylib.core.Window"] + ul .toctree-l4 a.reference.internal[href="#goopylib.core.Window.is_mouse_hovering"],
a.reference.internal[href="#goopylib.core.Window"] + ul .toctree-l4 a.reference.internal[href="#goopylib.core.Window.get_camera"],
a.reference.internal[href="#goopylib.core.Window"] + ul .toctree-l4 a.reference.internal[href="#goopylib.core.Window.update_all"],

a.reference.internal[href="#goopylib.scene.Camera"] + ul .toctree-l4 a.reference.internal[href="#goopylib.scene.Camera.move"],
a.reference.internal[href="#goopylib.scene.Camera"] + ul .toctree-l4 a.reference.internal[href="#goopylib.scene.Camera.x"],

a.reference.internal[href="#goopylib.scene.CameraController"] + ul .toctree-l4 a.reference.internal[href="#goopylib.scene.CameraController.enable_movement"],
a.reference.internal[href="#goopylib.scene.CameraController"] + ul .toctree-l4 a.reference.internal[href="#goopylib.scene.CameraController.invert_movement"],
a.reference.internal[href="#goopylib.scene.CameraController"] + ul .toctree-l4 a.reference.internal[href="#goopylib.scene.CameraController.horizontal_speed"],
a.reference.internal[href="#goopylib.scene.CameraController"] + ul .toctree-l4 a.reference.internal[href="#goopylib.scene.CameraController.use_wasd"],

a.reference.internal[href="#goopylib.objects.Renderable"] + ul .toctree-l4 a.reference.internal[href="#goopylib.objects.Renderable.move"],
a.reference.internal[href="#goopylib.objects.Renderable"] + ul .toctree-l4 a.reference.internal[href="#goopylib.objects.Renderable.x"],
a.reference.internal[href="#goopylib.objects.Renderable"] + ul .toctree-l4 a.reference.internal[href="#goopylib.objects.Renderable.hide"] {
    padding: .4045em 1.618em .4045em 5.663em !important;
}

/*gp.Window navigation headers*/

.toctree-l4 a.reference.internal[href="#goopylib.core.Window.destroy"]::after {
    content: "Window Attributes"
}

.toctree-l4 a.reference.internal[href="#goopylib.core.Window.set_size_limits"]::after {
    content: "Size & Aspect Ratio"
}

.toctree-l4 a.reference.internal[href="#goopylib.core.Window.restore"]::after {
    content: "Window States"
}

.toctree-l4 a.reference.internal[href="#goopylib.core.Window.is_mouse_hovering"]::after {
    content: "Mouse & Keyboard"
}

.toctree-l4 a.reference.internal[href="#goopylib.core.Window.get_camera"]::after {
    content: "Camera & Projection"
}

.toctree-l4 a.reference.internal[href="#goopylib.core.Window.update_all"]::after {
    content: "Static Methods"
}

/*gp.Camera navigation headers*/

.toctree-l4 a.reference.internal[href="#goopylib.scene.Camera.move"]::after {
    content: "Camera Methods"
}

.toctree-l4 a.reference.internal[href="#goopylib.scene.Camera.x"]::after {
    content: "Camera Attributes"
}

/*gp.CameraController navigation headers*/

.toctree-l4 a.reference.internal[href="#goopylib.scene.CameraController.enable_movement"]::after {
    content: "Enable/Disable Functions"
}

.toctree-l4 a.reference.internal[href="#goopylib.scene.CameraController.invert_movement"]::after {
    content: "Invert Functions"
}

.toctree-l4 a.reference.internal[href="#goopylib.scene.CameraController.horizontal_speed"]::after {
    content: "Controller Attributes"
}

.toctree-l4 a.reference.internal[href="#goopylib.scene.CameraController.use_wasd"]::after {
    content: "Key Bindings"
}

/*gp.Renderable navigation headers*/

.toctree-l4 a.reference.internal[href="#goopylib.objects.Renderable.move"]::after {
    content: "Transformations"
}

.toctree-l4 a.reference.internal[href="#goopylib.objects.Renderable.x"]::after {
    content: "Attributes"
}

.toctree-l4 a.reference.internal[href="#goopylib.objects.Renderable.hide"]::after {
    content: "Other Methods"
}


#keyboard-key-ids col,
#mouse-button-ids col {
    width: auto !important;
}
